<!-- Add you custom twig html here -->
<div class="Caja">
<form action="/flujo_caja/mostrar" id="formulario_caja">
	<div class="row">
		<div class="col-md-2">
			<div class="form-group">
				<label for="anio">Año</label>
				<select name="anio"  class=" form-control">
					<option selected="selected" value="0" >-Año-</option>
					{% for year in data.years %}
					  <option value="{{ year }}">{{ year }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="mes">Mes</label>
				<select name="mes"  class=" form-control">
					<option selected="selected" value="0" >-Mes-</option>
					{% for month in data.months %}
					  <option value="{{ month['value'] }}">{{ month['title'] }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<input type="submit" value="Mostrar" class="btn btn-primary">
		</div>
	</div>

</form>
<p><h1 class="heading-primary">Año de consulta {{ data.anio}} mes {{ data.mes}}</h1></p>

	<div class="mytabla">
		<p><h2>Total de Ingresos</h2></p>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
				<th>#</th>
				<th>Fecha</th>
				<th>Concepto</th>
				<th>Monto</th>
				</tr>
			</thead>
			<tbody>
				{% for ingreso in data.ingresos %}

				<tr>
					<td>{{loop.index}}</td>
					<td>{{ingreso['fecha']}}</td>
					<td>{{ingreso['concepto']}}</td>
					<td> <span class="cantidad_de_ingreso">{{ingreso['cantidad']}}</span></td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th></th>
					<th></th>
					<th>Total</th>
					<th>{{data.suma_ingresos}}</th>
				</tr>
			</tfoot>
		</table>
	</div>
	<div class="mytabla">
		<p><h2>Porcentajes</h2></p>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
				<th>Concepto</th>
				<th>Monto</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Zona</td>
					<td>{{ data['porcentajes']['zona'] }}</td>
				</tr>
				<tr>
					<td>Diocesis</td>
					<td>{{ data['porcentajes']['diocesis'] }}</td>
				</tr>
				<tr>
					<td>Sacerdote</td>
					<td>{{ data['porcentajes']['sacerdotes'] }}</td>
				</tr>
				<tr>
					<td>Nacional</td>
					<td>{{ data['porcentajes']['nacional'] }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>Total</th>
					<th>{{ data['porcentajes']['zona']+data['porcentajes']['diocesis']+data['porcentajes']['sacerdotes']+data['porcentajes']['nacional'] }}</th>
				</tr>
			</tfoot>
		</table>
	</div>

</div>